/* Container Styling */
.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Title Styling */
  .form-title {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
  }
  
  /* Form Styling */
  .employee-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  
  /* Form Field Styling */
  .form-field {
    width: 100%;
  }
  
  /* Button Container Styling */
  .button-container {
    display: flex;
    justify-content: center; /* Center the button horizontally */
  }
  
  /* Submit Button Styling */
  .submit-button {
    background-color: #333; /* Dark color */
    color: white; /* Text color */
    font-weight: bold; /* Bold text for better visibility */
    padding: 16px 32px; /* Increased padding for larger button */
    font-size: 1.125rem; /* Increase font size */
    border-radius: 4px; 
  }
  
  .submit-button.mat-raised-button {
    padding: 12px 24px;
    justify-content: right; /* Padding for better button size */
  }
  